# Object files
*.o
*.ko
*.obj
*.elf
*.d
*.dep

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

tags
cscope.*

apps/demo/src/board.c
apps/tests/src/board.c
apps/demo/bin/
apps/tests/bin/

wmsdk_bundle-*

/config.mk

/test_config
apps/tests/src/evrythng_config.h
apps/tests/src/tests.c
